.underline:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .logo {
    height: 28px;
  }

  .item-desktop {
    display: none !important;
  }
}

@media (max-width: 426px) {
  .logo {
    height: 22px;
  }

}