.campaigns p {
  margin-block: 1em;
}

.campaigns ul {
  margin-top: .5em;
  padding-left: 1em;
  list-style: initial;
}

@media (max-width: 768px) {
   .wrap > div{ flex-direction: column !important;
  }
  .wrap img {
   width: 100% !important;
  }
}