@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--text);
}

:root {
  --background: #F9FBFE;
  --background-5: #E9F0FB;
  --foreground: #060F1C;
  --background-overlay: #78A3E3;
  --accent: #FF5400;
  --primary: #1D4A8D;
  --primary-gradient: linear-gradient(105deg,
      hsl(216deg 66% 33%) 0%,
      hsl(216deg 64% 36%) 12%,
      hsl(216deg 63% 39%) 27%,
      hsl(216deg 62% 42%) 49%,
      hsl(216deg 62% 45%) 67%,
      hsl(216deg 61% 49%) 76%,
      hsl(216deg 64% 52%) 84%,
      hsl(216deg 72% 55%) 90%,
      hsl(216deg 82% 58%) 95%,
      hsl(216deg 93% 61%) 100%);
  --text-title: 'Merriweather', serif;
  --text: 'Source Sans 3', sans-serif;

  --text-xxl: clamp(2rem, 1.6rem + 2vw, 4rem);
  --text-xl: 36px;
  --text-lg: 24px;
  --text-l: 20px;
  --text-md: 18px;
  --text-sm: 16px;
  --text-xs: 14px;

  --spacing: 64px;

  --xxl: 48px;
  --xl: 32px;
  --lg: 24px;
  --md: 16px;
  --sm: 8px;
  --xs: 4px;
  --xxs: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

img.with-border {
  border: 6px solid var(--background-5);
  border-radius: var(--md);
  box-shadow: 0 2px 4px 0 #060f1c2a;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspcect-ratio: 5 / 3;
}

.section {
  padding: var(--spacing);
  font-size: var(--text-md);

  &>* {
    max-width: 1200px;
    margin-inline: auto;
  }
}

.section_secondary {
  background-color: var(--background-5);
}

.section_title {
  text-align: center;
  margin-block: 0 2em;
  font-size: var(--text-xl);
  font-family: var(--text-title);
  font-weight: 700;
}

.section_title:has(+.section_subtitle) {
  margin-block-end: 0;
}

.section_subtitle {
  text-align: center;
  font-size: 20px;
  margin-block: 0.5em 2.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.input-field {
  align-items: flex-start !important;
  gap: 2px !important;

  input,
  textarea {
    all: unset;
    width: 100%;
    border: 1px solid var(--background-5);
    background-color: var(--background);
    padding: var(--sm);
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 #060f1c2a;
  }
}