@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--text);
}

:root {
  --background: #F9FBFE;
  --background-5: #E9F0FB;
  --foreground: #060F1C;
  --background-overlay: #78A3E3;
  --accent: #FF5400;
  --primary: #1D4A8D;
  --primary-gradient: linear-gradient(105deg,
      hsl(216deg 66% 33%) 0%,
      hsl(216deg 64% 36%) 12%,
      hsl(216deg 63% 39%) 27%,
      hsl(216deg 62% 42%) 49%,
      hsl(216deg 62% 45%) 67%,
      hsl(216deg 61% 49%) 76%,
      hsl(216deg 64% 52%) 84%,
      hsl(216deg 72% 55%) 90%,
      hsl(216deg 82% 58%) 95%,
      hsl(216deg 93% 61%) 100%);
  --text-title: 'Merriweather', serif;
  --text: 'Source Sans 3', sans-serif;

  --text-xxl: clamp(2rem, 1.6rem + 2vw, 4rem);
  --text-xl: calc(var(--text-md) * 2);
  --text-lg: calc(var(--text-md) * 1.33);
  --text-l: calc(var(--text-md) * 1.11);
  --text-md: 18px;
  --text-sm: calc(var(--text-md) * 0.88);
  --text-xs: calc(var(--text-md) * 0.77);

  --spacing: 64px;

  --xxl: calc(var(--md) * 3);
  --xl: calc(var(--md) * 2);
  --lg: calc(var(--md) * 1.5);
  --md: 16px;
  --sm: calc(var(--md) * 0.5);
  --xs: calc(var(--md) * 0.25);
  --xxs: 2px;

  --shadow: 0 2px 4px 0 #060f1c2a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

img.with-border {
  border: 6px solid var(--background-5);
  border-radius: var(--md);
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspcect-ratio: 5 / 3;
}

.section {
  scroll-margin-top: 96px;
  padding: var(--spacing);
  padding-block-start: calc(var(--spacing) * 0.5);
  font-size: var(--text-md);

  &>* {
    max-width: 1200px;
    margin-inline: auto;
  }
}

.section_secondary {
  background-color: var(--background-5);
}

.section_title {
  text-align: center;
  margin-block: 1em 2em;
  font-size: var(--text-xl);
  font-family: var(--text-title);
  font-weight: 700;
}

.section_title:has(+.section_subtitle) {
  margin-block-end: 0;
}

.section_subtitle {
  text-align: center;
  font-size: 20px;
  margin-block: 0.5em 2.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.input-field {
  display: grid;
  gap: var(--xxs);

}

.input-field input,
.input-field textarea,
.input-field select {
  all: unset;
  flex-grow: 1;
  border: 1px solid #cee1ff;
  background-color: var(--background);
  padding: var(--sm);
  font-size: 16px;
  border-radius: 6px;
  /* box-shadow: var(--shadow); */
  outline: 2px solid transparent;
  transition: border-color 100ms ease, outline-color 300ms ease;
}

.input-field input:focus,
.input-field textarea:focus,
.input-field select:focus {
  border-color: var(--background-overlay);
  outline: 2px solid #cad8ed;
  /* box-shadow: none; */
}

.grecaptcha-badge {
  visibility: hidden !important;
}

@media (max-width: 768px) {
  :root {
    --spacing: 16px;
    --text-md: 16px;
    --md: 12px;
  }

}